/* Coded by Luca Mouawad */

body {
  font-family: "Raleway", sans-serif;
  background-color: #dcdcdc;
  margin: 0;
  animation: transition 0.5s;
}

@keyframes transition {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#weirdThing{
  height: 100%;
}

#navbar #navbar-nav {
  margin-left: auto;
}

.nav-item:nth-child(4)::after {
  content: "";
  width: 100%;
  height: 0.2rem;
  background-color: #ebb000;
  display: block;
}

.stacker {
  display: flex;
  flex-direction: column;
  width: 200px;
}

#itemsContainer {
  display: flex;
  justify-content: space-between;
}

.items {
  gap: 2rem;
  flex-wrap: wrap;
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #454f6e;
  font-size: 40px;
  font-weight: 700;
}

#navbar {
  z-index: 2;
  width: 100%;
  padding: 1.3%;
}

.navbar-brand {
  color: black;
  font-weight: bold;
  font-size: 2rem;
  margin-left: -1.4rem;
}

li {
  font-size: 1.5rem;
}

#banner {
  background-color: #ebb000;
  width: 100%;
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.3rem;
  margin-bottom: 5rem;
}
.stacker {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
  margin-bottom: 3rem;
}

.nav-link {
  color: black;
}

/* Coded by Daniel Munteanu */
/* E-mail Buttons */

.emailBtn {
  margin-top: 1rem;
  font-weight: normal;
  position: absolute;
  display: inline-block;
  color: #ebb000;
  text-decoration: none;
  overflow: hidden;
  transition: 0.5s;
  transform: translate(-50%, -50%);
  bottom: -25%;
  left: 50%;
}

.emailBtn span {
  position: absolute;
}

.emailBtn:hover {
  font-size: 2rem;
  box-shadow: 3px 3px #ebb000;
}

.emailBtn span:nth-child(1) {
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: linear-gradient(90deg, transparent, #ebb000);
  animation: animation1 1s infinite;
}

@keyframes animation1 {
  0% {
    left: -100%;
  }
  100% {
    left: 100%;
  }
}

.emailBtn span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 1px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #ebb000);
  animation: animation2 1s infinite;
  animation-delay: 0.25s;
}

@keyframes animation2 {
  0% {
    top: -100%;
  }
  100% {
    top: 100%;
  }
}

.emailBtn span:nth-child(3) {
  bottom: 0;
  right: 0;
  width: 100%;
  height: 1px;
  background: linear-gradient(270deg, transparent, #ebb000);
  animation: animation3 1s infinite;
  animation-delay: 0.5s;
}

@keyframes animation3 {
  0% {
    right: -100%;
  }
  100% {
    right: 100%;
  }
}

.emailBtn span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 1px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #ebb000);
  animation: animation4 1s infinite;
  animation-delay: 0.75s;
}

@keyframes animation4 {
  0% {
    bottom: -100%;
  }
  100% {
    bottom: 100%;
  }
}

#footer{
  position: relative;
  bottom: 0;
  background-color: #EB9400;
  width: 100%;
  height: 15rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.row1{
  display: inline-block;
}

#footer img{
  object-fit: cover;
  height: 2.5rem;
  width: 2.5rem;
  margin: 0 2rem;
  border-radius: 100%;
  margin-bottom: 2rem;
}

#footerList{
  list-style-type: none;
}

#footerList li{
  display: inline-block;
  margin-right: 1rem;
}

#footerList a{
  text-decoration: none;
  color: white;
}

@media screen and (max-width: 768px) {
  #footer{
    height: auto;
  }

  #footer img{
    width: 2rem;
    height: 2rem;
    margin: 1rem;
  }

  #footerList li{
    display: block;
  }
}

@media screen and (min-width: 1175px) {
  #footer{
    position: absolute;
    bottom: 0;
  }
}
