/* Coded by Daniel Munteanu */

body {
  font-family: "IBM Plex Mono", monospace;
  background-color: #ffffff;
  margin: 0;
  animation: animation 0.5s;
}

@keyframes animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/*
Nav underline
*/
.nav-item:nth-child(1)::after {
  content: "";
  width: 100%;
  height: 0.2rem;
  background-color: #c29204;
  display: block;
}

.navbar-brand {
  color: rgb(66, 66, 66);
  font-weight: bold;
  font-size: 2rem;
}

#img3 {
  filter: brightness(120%);
}

#img1:hover,
#img2:hover,
#img3:hover,
#img4:hover {
  filter: brightness(80%);
  transition: ease-in 0.3s;
}

#ourOffersTitle {
  background-color: #ebb000;
  width: 100%;
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.3rem;
  margin-bottom: 5rem;
}

.nav-link {
  color: rgb(66, 66, 66);
}

.img-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.img-container img {
  object-fit: cover;
  width: 100%;
  height: 35rem;
  border-radius: 40px;
  filter: brightness(70%);
}

.img-container:hover {
  filter: brightness(80%);
  transition: ease-in 0.3s;
}

.overlay-text1 {
  position: absolute;
  top: 10%;
  transform: translate(0%, 0%);
  color: white;
  text-align: center;
  width: 100%;
  bottom: 0;
}

.overlay-text1 p {
  margin: 0;
  width: 100%;
}

.offerTitle {
  font-size: 2rem;
  font-weight: bold;
  padding: 10%;
}

.seeImagesBtn,
.orderBtn {
  background-color: transparent;
  border: 3px solid #ebb000;
  border-radius: 40px;
  padding: 2%;
  color: white;
  width: 10rem;
  height: 4rem;
  display: inline-block;
  margin-top: 1rem;
  cursor: pointer;
  position: absolute;
  bottom: 1.5rem;
}

.seeImagesBtn {
  left: 2rem;
}

.orderBtn {
  right: -4rem;
}

.orderBtn {
  background-color: #ebb000;
  margin-right: 6rem;
  font-weight: bold;
  cursor: pointer;
}

.orderBtn:hover,
.seeImagesBtn:hover {
  filter: brightness(115%);
  transition: ease-in 0.25s;
}

@media screen and (max-width: 1600px) {
  .seeImagesBtn,
  .orderBtn {
    width: 7rem;
  }
}

@media screen and (max-width: 1200px) {
  .seeImagesBtn,
  .orderBtn {
    position: relative;
    display: block;
    bottom: -1rem;
  }
  .overlay-text1 p {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 767px) {
  .seeImagesBtn,
  .orderBtn {
    position: absolute;
    display: inline-block;
    width: 10rem;
    height: 4rem;
    bottom: 1rem;
  }
}

@media screen and (max-width: 400px) {
  .seeImagesBtn,
  .orderBtn {
    width: 7rem;
  }

  .orderBtn {
    right: 6.5rem;
  }
  .overlay-text1 {
    left: 7rem;
  }
}
